.cds--g10,
.cds--g90,
.cds--g100 {
  min-height: 100vh;
}

.scrollbar-soft::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-soft::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-soft::-webkit-scrollbar-thumb {
  background: var(--cds-border-strong);
  border-radius: 3px;
}

.scrollbar-soft::-webkit-scrollbar-thumb:hover {
  background: var(--cds-text-placeholder);
}
